.linehight {
    background-color: #fff;
    font-size: 14px;
    padding: 5px;
    color: gray;
    display: flex;
    justify-content: space-between;
}
.topright a {
    color: gray;
    margin-left: 20px;
}
.linehight .location {
    margin-left: 20px;
}
.linehight .phone {
    margin-left: 20px;
}
.linehight .phone .rotate {
    transform: rotate(90deg);
}
.linehight .mail {
    margin-left: 20px;
}
